extends ../layout

block content
	.container.row
		include _menu
		.col-xs-9
			form(method='post', action='/settings/preferences')
				.box
					h4.color-indigo-500
						i.material-icons settings_applications
						= t('settings:menu.preferences')
					.box-base
						.box-chrome
							section
								.row
									.col-xs-6
										label= t('settings:prefs.locale.label')
										+fielderror('settings_prefs_locale')
										select(name='settings_prefs_locale')
											each lcName, lcKey in appdata.locales
												option(value=lcKey, selected=(lcKey == usr.locale))= lcName
										+fieldnote('required', t('settings:prefs.locale.info'))
									.col-xs-6
										label= t('settings:prefs.timezone.label')
										+fielderror('settings_prefs_timezone')
										select(name='settings_prefs_timezone')
											each tzname in timezones
												option(value=tzname, selected=(tzname == usr.timezone))= tzname
										+fieldnote('required', t('settings:prefs.timezone.info'))
							section.alt
								label=t('settings:prefs.localizeddatetime')
								= usrtime.format('LLLL')
						.box-actions
							div
								button#edit-submit(type="submit", class="btn btn-green")
									i.fa.fa-check
									= t('actions.save')