extends ../layout

block content
	.container.row
		include _menu
		.col-xs-9
			form(method='post', action='/settings')
				.box
					h4.color-blue-grey-500
						i.material-icons receipt
						= t('settings:menu.profile')
					.box-base
						.box-chrome
							section
								.row
									.col-xs-6
										label= t('settings:profile.firstname.label')
										+fielderror('settings_profile_fname')
										input(name='settings_profile_fname', type='text', placeholder=t('settings:profile.firstname.placeholder'), value=usr.firstName)
										+fieldnote('required', t('settings:profile.firstname.info'))
									.col-xs-6
										label= t('settings:profile.lastname.label')
										+fielderror('settings_profile_lname')
										input(name='settings_profile_lname', type='text', placeholder=t('settings:profile.lastname.placeholder'), value=usr.lastName)
										+fieldnote('required', t('settings:profile.lastname.info'))
							section
								label= t('settings:profile.email.label')
								+fielderror('settings_profile_email')
								input(name='settings_profile_email', type='text', placeholder=t('settings:profile.email.placeholder'), value=usr.email)
								+fieldnote('required', t('settings:profile.email.info'))
							section
								label= t('settings:profile.jobtitle.label')
								+fielderror('settings_profile_jobtitle')
								input(name='settings_profile_jobtitle', type='text', placeholder=t('settings:profile.jobtitle.placeholder'), value=usr.jobTitle)
								+fieldnote('optional', t('settings:profile.jobtitle.info'))
						.box-actions
							div
								button#edit-submit(type="submit", class="btn btn-green")
									i.fa.fa-check
									= t('actions.save')
							div
								button#edit-delete(type="button", class="btn btn-red")
									i.fa.fa-sign-out
									= t('actions.logout')
								button#edit-archive(type="button", class="btn btn-purple")
									i.fa.fa-repeat
									= t('actions.resync')