extends ../layout

block content
	.container.row
		.col-xs-9
			.box
				h4.create-form-title
					i.material-icons note_add
					= t('create:title')
					i.material-icons.create-form-chevron chevron_right
					span= reqdata.category.name
				.box-base
					.box-chrome
						section
							label= t('create:fields.subcategory.label')
							+fielderror('create_subcategory')
							+dropdown('create_subcategory')(placeholder=t('create:fields.subcategory.placeholder'))
								each subcat in reqdata.subcategories
									+dropdownitem(subcat.name, subcat.id, 'media-record', subcat.color, subcat.description)
							+fieldnote('required', t('create:fields.subcategory.info'))
					.box-chrome
						.box-header General
						section
							label= t('create:fields.title.label')
							+fielderror('create_title')
							input(name='create_title', type='text', placeholder=t('create:fields.title.placeholder'))
							+fieldnote('required', t('create:fields.title.info'))
						section
							label= t('create:fields.description.label')
							+fielderror('create_description')
							input(name='create_description', type='hidden')
							#medescription.me-editor(data-placeholder=t('create:fields.description.placeholder'))
							+fieldnote('required', t('create:fields.description.info'))

					+cfieldlayout(reqdata.customfields)

					.box-chrome
						section
							label= t('create:fields.upload.label')
							+fielderror('create_upload')
							| todo
							+fieldnote('optional', t('create:fields.upload.info'))
					.box-actions
							div
								button#create-submit(type="submit", class="btn btn-green")
									i.fa.fa-plus
									= t('actions.create')
		.col-xs-3
			.box
				h4
					i.material-icons info_outline
					| Category
				.box-base
					.box-chrome
						| test

			.box
				h4
					i.material-icons today
					| Planning
				.box-base
					.box-chrome
						section
							label= t('create:fields.title.label')
							+fielderror('create_title')
							input(name='create_title', type='text', placeholder=t('create:fields.title.placeholder'))
							+fieldnote('required', t('create:fields.title.info'))