extends ../layout

block content
	.container.row#create-form
		.col-xs-8
			.box
				h4.create-form-title
					i.material-icons note_add
					= t('create:title')
					i.material-icons.create-form-chevron chevron_right
					span= reqdata.name
				.box-base

					+infobox(reqdata.infoBoxes, 'top')

					.box-chrome
						section
							label(for='fld_subcategory')= t('create:fields.subcategory.label')
							+fielderror('create_subcategory')
							+dropdown('create_subcategory', 'subcategory', '')(placeholder=t('create:fields.subcategory.placeholder'))
								each subcat in reqdata.subCategories
									+dropdownitem(subcat.name, subcat.id, 'circle', subcat.color, subcat.description)
							+fieldnote('required', t('create:fields.subcategory.info'))
					
					+infobox(reqdata.infoBoxes, 'before-summary')

					.box-chrome
						section
							label(for='fld_title')= t('create:fields.title.label')
							+fielderror('create_title')
							input#fld_title(name='create_title', type='text', v-model='title', placeholder=t('create:fields.title.placeholder'))
							+fieldnote('required', t('create:fields.title.info'))
						section
							label(for='fld_description')= t('create:fields.description.label')
							+fielderror('create_description')
							input(name='create_description', type='hidden', v-model='description')
							#medescription.me-editor(data-placeholder=t('create:fields.description.placeholder'))
							+fieldnote('required', t('create:fields.description.info'))

					+infobox(reqdata.infoBoxes, 'before-customfields')

					+cfieldlayout(reqdata.fields)

					+infobox(reqdata.infoBoxes, 'before-actions')

					.box-actions
						div
							button#create-submit(class="btn btn-green")
								span
									i.fa.fa-plus
									= t('actions.create')
					+infobox(reqdata.infoBoxes, 'bottom')

		.col-xs-4
			.box
				h4.color-indigo-600
					i.material-icons view_array
					= t('create:headers.category')
				.box-base
					.box-chrome
						section
							.icon-block
								i(class='material-icons color-' + reqdata.color)= reqdata.icon
								div
									strong= reqdata.name
									span= reqdata.description
						section
							label= t('create:fields.type.label')
							.icon-block
								i.material-icons.color-blue-grey-500 note
								div
									strong= t('create:fields.type.value')
			.box
				h4.color-indigo-600
					i.material-icons attach_file
					= t('create:headers.files')
				.box-base
					.box-chrome
						section
							+fielderror('create_upload')
							+filebox('create_upload')
							+fieldnote('optional', t('create:fields.upload.info'))
			.box
				h4.color-indigo-600
					i.material-icons today
					= t('create:headers.planning')
				.box-base
					.box-chrome
						section
							label= t('create:fields.deadline.label')
							+fielderror('create_deadline')
							input(name='create_deadline', type='text', v-model='deadline', placeholder=t('create:fields.deadline.placeholder'), maxlength=10)
							+fieldnote('optional', t('create:fields.deadline.info'))

block outside
	.modal#id-modal-createrequest
		.modal-box
			i.spinner
			h4= t('create:modal.wait')
			label= t('create:modal.processing')

	.modal#id-modal-createuplerror
		.modal-box
			i.material-icons report
			h4 Upload failure
			label Your request was created successfully but one or more of your attachments could not be uploaded. Try to upload them again from the request page.
			.modal-actions
				button.act-ok(class="grey")= t('actions.continue')

	script(type='text/javascript')
		| var modalIntl = {
		= "processing: '" + t('create:modal.processing') + "',"
		= "attachments: '" + t('create:modal.attachments') + "',"
		= "finishing: '" + t('create:modal.finishing') + "'"
		| };