extends ../layout

block content
	.container.row#create-form
		.col-xs-8
			.box
				h4.create-form-title
					i.material-icons note_add
					= t('create:title')
					i.material-icons.create-form-chevron chevron_right
					span= reqdata.category.name
				.box-base

					+infobox(reqdata.infoboxes, 'top')

					.box-chrome
						section
							label(for='fld_subcategory')= t('create:fields.subcategory.label')
							+fielderror('create_subcategory')
							+dropdown('create_subcategory', 'subcategory', '')(placeholder=t('create:fields.subcategory.placeholder'))
								each subcat in reqdata.subcategories
									+dropdownitem(subcat.name, subcat.id, 'circle', subcat.color, subcat.description)
							+fieldnote('required', t('create:fields.subcategory.info'))
					
					+infobox(reqdata.infoboxes, 'before-summary')

					.box-chrome
						section
							label(for='fld_title')= t('create:fields.title.label')
							+fielderror('create_title')
							input#fld_title(name='create_title', type='text', v-model='title', placeholder=t('create:fields.title.placeholder'))
							+fieldnote('required', t('create:fields.title.info'))
						section
							label(for='fld_description')= t('create:fields.description.label')
							+fielderror('create_description')
							input(name='create_description', type='hidden', v-model='description')
							#medescription.me-editor(data-placeholder=t('create:fields.description.placeholder'))
							+fieldnote('required', t('create:fields.description.info'))

					+infobox(reqdata.infoboxes, 'before-customfields')

					+cfieldlayout(reqdata.customfields)

					+infobox(reqdata.infoboxes, 'before-actions')

					.box-actions
						div
							button#create-submit(class="btn btn-green")
								i.fa.fa-plus
								= t('actions.create')
					+infobox(reqdata.infoboxes, 'bottom')

		.col-xs-4
			.box
				h4.color-red-600
					i.material-icons view_array
					= t('create:headers.category')
				.box-base
					.box-chrome
						section
							.icon-block
								i(class='material-icons color-' + reqdata.category.color)= reqdata.category.icon
								div
									strong= reqdata.category.name
									span= reqdata.category.description
						section
							label= t('create:fields.type.label')
							.icon-block
								i.material-icons.color-blue-grey-500 note
								div
									strong= t('create:fields.type.value')
			.box
				h4.color-red-600
					i.material-icons attach_file
					= t('create:headers.files')
				.box-base
					.box-chrome
						section
							+fielderror('create_upload')
							+filebox('create_upload')
							+fieldnote('optional', t('create:fields.upload.info'))
			.box
				h4.color-red-600
					i.material-icons today
					= t('create:headers.planning')
				.box-base
					.box-chrome
						section
							label= t('create:fields.deadline.label')
							+fielderror('create_deadline')
							input(name='create_deadline', type='text', v-model='deadline', placeholder=t('create:fields.deadline.placeholder'), maxlength=10)
							+fieldnote('optional', t('create:fields.deadline.info'))

block outside
	.modal#id-modal-createrequest
		.modal-box
			i.spinner
			h4 Just a moment
			label Uploading attachments...