extends ../layout

block content
	.container

		.flat-nav
			ul
				li: a(href='/teams')
					i.typcn.typcn-arrow-left-thick
					= t('actions.back')

		form(method='post', action='/teams/' + team.slug + '/edit')
			.row
				.col-xs-9
					.box
						h4.create-form-title
							i.material-icons.color-green-500 indeterminate_check_box
							= t('teams:actions.edit') 
							|  | 
							= team.name
						.box-base
							.box-chrome
								section
									label= t('teams:create.name.label')
									+fielderror('team_edit_name')
									input(name='team_edit_name', type='text', placeholder=t('teams:create.name.placeholder'), value=team.name)
									+fieldnote('required', t('teams:create.name.info'))
								section
									label= t('teams:create.description.label')
									+fielderror('team_edit_desc')
									input(name='team_edit_desc', type='text', placeholder=t('teams:create.description.placeholder'), value=team.description)
									+fieldnote('required', t('teams:create.description.info'))
							.box-actions
								div
									button#edit-submit(type="submit", class="btn btn-green")
										i.typcn.typcn-tick
										= t('actions.save')
								div
									button#edit-delete(type="button", class="btn btn-red")
										i.typcn.typcn-trash
										= t('actions.delete')
									button#edit-archive(type="button", class="btn btn-orange")
										i.typcn.typcn-archive
										= t('actions.archive')
				.col-xs-3
					.box
						h4
							i.material-icons.color-green-500 people
							| Team Info
						.box-base
							.box-chrome
								| ---
								
block outside
	.modal#id-modal-teamdelete
		.modal-box
			i.material-icons people
			h4 Delete this team?
			label You are about to delete team #[=team.name]? Are you sure?
			.modal-actions
				button.act-cancel(class="grey")= t('actions.cancel')
				button.act-ok(class="red")= t('actions.confirm')