include ./common/mixins

doctype html
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		title= appconfig.title

		// Favicon
		each favsize in [32, 96, 16]
			link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize href='/images/favicon-' + favsize + 'x' + favsize + '.png')

		// CSS
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Inconsolata|Material+Icons', rel='stylesheet', type='text/css')
		for name in bundles.emit('css/bundle.css')
			link(rel='stylesheet', href='/#{name}')

		// JS
		for name in bundles.emit('js/bundle.js')
			script(src='/#{name}')
		if(page_script)
			script(src='/js/#{page_script}.js')

	body(class='mi-' + navbar_active)
		#root
			header
				nav.navbar
					ul
						each menuitem, menukey in appdata.navbar
							li(data-key=menukey, class=(navbar_active == menukey ? 'active' : ''), data-link=menuitem.target)
								i.material-icons= menuitem.icon
								= t('nav.' + menukey)
				nav.userbar
					i#notifload
					i#notifbtn.material-icons notifications
					#searchbox
						input(type='text', placeholder=t('search.placeholder'))
					#usravatar(style={'background-image':'url(https://s3.amazonaws.com/uifaces/faces/twitter/mlane/73.jpg)'},alt='User')
			nav.actionbar
				h3 Quick Access Panel
				h4
					i.material-icons face
					| #{usr.firstName}
				ul
					li: a(href='/settings') Settings
					li: a(href='/logout') Logout
				h4
					i.material-icons pin_drop
					| Pinned
				ul
					li: a(href='/') Test
				h4
					i.material-icons schedule
					| Recent
			main
				block content
			footer
				div
					a(href='https://requarks.io/')= t('copyright')
		block outside
		include ./common/modals
		
