
//- Form field error

mixin fielderror(name)
	if formErrors
		- var err = _.find(formErrors, {'param': name}) || false
		if err
			span.error= err.msg

//- Form field note

mixin fieldnote(mode, msg)
	span.note
		case mode
			when 'required'
				strong.color-red-600= t('form.required')
			when 'optional'
				strong.color-orange-600= t('form.optional')
			default
				strong.color-blue-600= t('form.info')
		= msg

//- Dropdown Form Field

mixin dropdown(name, defaultval)
	.dropdown
		input(name=name, type='hidden', value=defaultval)
		div
			span= attributes.placeholder
			i.fa.fa-caret-down
		ul
			block

mixin dropdownitem(label, value, icon, iconcolor, description)
	li(data-value=value, data-label=label)
		if icon
			i(class='fa fa-' + icon + ' color-' + iconcolor)
		= label
		if description
			span= description

//- Custom Fields

mixin cfieldlayout(fields, title)
	if fields && fields.length > 0
		.box-chrome
			if title
				.box-header= title
			- var cfield_half = false;
			each cf in fields
				if cf.isHalfSize
					if !cfield_half
						| <section><div class="row">
						.col-xs-6
							+cfield(cf)
					else
						.col-xs-6
							+cfield(cf)
						| </div></section>
					- cfield_half = true;
				else
					section
						+cfield(cf)

mixin cfield(cf)
	label= cf.name
	+fielderror('create_cf_' + cf.id)
	if cf.format === 'choice'
		+dropdown('create_cf_' + cf.id)(placeholder=cf.defaultValue)
			each subcat in _.split(cf.value, ';')
				+dropdownitem(subcat, subcat)
	else
		input(name='create_cf_' + cf.id, type='text', placeholder=cf.placeholder)
	+fieldnote(cf.isRequired ? 'required' : 'optional', cf.description)

//- Upload Box

mixin filebox(fldName)
	.filebox(id=fldName)
		.filebox-placeholder
			i.material-icons cloud_upload
			span
				= t('filebox.placeholder')
				span= t('filebox.placeholdersub')
		ul
			li
				span
					strong(data-dz-name)
					span(data-dz-size)
				i.fa.fa-close(data-dz-remove)

//- Info Box

mixin infobox(ib, pos)
	- var fib = _.filter(ib, ['position', pos])
	if fib.length > 0
		each fibItem in fib
			.box-info
				i.material-icons= fibItem.icon
				div
					!= md.render(fibItem.content).body
