
//- Form field error

mixin fielderror(name)
	if formErrors
		- var err = _.find(formErrors, {'param': name}) || false
		if err
			span.error= err.msg

//- Form field note

mixin fieldnote(mode, msg)
	span.note
		case mode
			when 'required'
				strong.color-red-600= t('form.required')
			when 'optional'
				strong.color-orange-600= t('form.optional')
			default
				strong.color-blue-600= t('form.info')
		= msg

mixin dropdown(name, defaultval)
	.dropdown
		input(name=name, type='hidden', value=defaultval)
		div
			span= attributes.placeholder
			i.typcn.typcn-arrow-sorted-down
		ul
			block

mixin dropdownitem(label, value, icon, iconcolor, description)
	li(data-value=value, data-label=label)
		if icon
			i(class='typcn typcn-' + icon + ' color-' + iconcolor)
		= label
		if description
			span= description